{% extends "base.html" %}

{% block title %}Вход{% endblock %}

{% block main %}
<div class="form-container">
    <h2 class="main_h2">Вход в систему</h2>
    <form action="/login" method="POST">
        <input class="input" type="email" name="email" placeholder="Email" required>
        <input class="input" type="password" name="password" placeholder="Пароль" required>
        <button class="input input_btn" type="submit">Войти</button>
        <p class="form-link">Нет аккаунта? <a href="/register">Зарегистрируйтесь здесь</a></p>
    </form>
</div>
{% endblock %}
