{% extends "base.html" %}

{% block title %}Регистрация{% endblock %}

{% block main %}
<div class="form-container">
    <h2 class="main_h2">Регистрация</h2>
    <form action="/register" method="POST">
        <input class="input" type="text" name="name" placeholder="Имя" required>
        <input class="input" type="email" name="email" placeholder="Email" required>
        <input class="input" type="password" name="password" placeholder="Пароль (минимум 8 символов)" required minlength="8">
        <input class="input" type="password" name="password_repeat" placeholder="Повторите пароль" required>
        <button class="input input_btn" type="submit">Зарегистрироваться</button>
        <p class="form-link">Уже есть аккаунт? <a href="/login">Войдите здесь</a></p>
    </form>
</div>
{% endblock %}
